<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

<!--  
    <servlet>
        <servlet-name>XingAuthRequestServlet</servlet-name>
        <servlet-class>com.starttrak.xing.XingAuthRequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XingAuthRequestServlet</servlet-name>
        <url-pattern>/xing-authorize</url-pattern>
    </servlet-mapping>
-->

	<servlet-mapping>
 		<servlet-name>javax.ws.rs.core.Application</servlet-name>
 		<url-pattern>/rest/*</url-pattern>
 	</servlet-mapping>
	
	     
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.starttrak.http.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
</web-app>



